<% @seo_keywords = '防犯防災,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '毎年恒例の忘年会'%>
<% @seo_title = "活動記録 VOL16 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<table style="padding:0 0 0 25px;width:700px">
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2011年3月25日 東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました。</b></p>
         &nbsp;男性10名で救援物資、4トントラックいっぱいに積み込み出発。　
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010841.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010845.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
 <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010842.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010046.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
<tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>約20時間掛かり、大船渡市役所に到着。（片道1200キロ）応援のメッセージなど沢山寄せられていました。</b></p>

    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010050.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010052.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
 <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010053.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010054.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>


  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>市役所で、救援物資があまり届いていない赤崎漁村センターの事を聞き出発。<br/>テレビや写真で見るのとは全然違いました。</b></p>
    
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010058.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010062.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
 <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010063.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010065.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
 <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010066.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010073.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
 <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010076.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010074.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
 <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010107.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010115.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
<tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>豚汁１０００杯炊き出しをし、「震災後、初めて温かい物を食べました」と喜んでいただけました。<br/>ご支援いただいた皆様、有り難う御座いました。</b></p>

    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010079.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010090.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010092.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010095.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010096.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010111.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
<tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>まだまだ物が足りないと感じました。</b></p>

    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010098.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010099.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010100.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/2011-3/P1010916.JPG",:alt=>">東北地方太平洋沖地震被災地、岩手県大船渡市に行ってきました",:size=>"300x214")%>
    </td>

  </tr>
 
</table>
<br/>
<div style="padding:0 0 0 25px;width:650px">
  <hr color="Gray" style="border-style:dotted">
</div>
