<% @seo_keywords = '防犯防災,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '４ヶ月に一回大規模パトロール'%>
<% @seo_title = "活動記録 VOL16 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<table style="padding:0 0 0 25px;width:700px">
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2010年9月 井高野〜相川〜小松〜瑞光、防災防犯の注意を呼びかけ、巡回いたしました。</b></p>
    </td>
  </tr>
  <tr>
     <td style="width:170px">
      <%=image_tag("activity/02/574.jpg",:alt=>">４ヶ月に一回大規模パトロール",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/02/572.jpg",:alt=>">４ヶ月に一回大規模パトロール",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/02/567.jpg",:alt=>">４ヶ月に一回大規模パトロール",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/02/568.jpg",:alt=>">４ヶ月に一回大規模パトロール",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/02/569.jpg",:alt=>">４ヶ月に一回大規模パトロール",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/02/571.jpg",:alt=>">４ヶ月に一回大規模パトロール",:size=>"300x214")%>
    </td>
  </tr>
  
</table>
<br/>
<div style="padding:0 0 0 25px;width:650px">
  <hr color="Gray" style="border-style:dotted">
</div>
