<% @seo_keywords = '防犯防災,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。'%>
<% @seo_title = "活動記録 VOL27 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<table style="padding:0 0 0 25px;width:700px">
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。</b></p>
      &nbsp;皆さん真剣に話を聞いてくれ、有意義な時間となりました。
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/1029/3-972.jpg",:alt=>"2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/1029/3-985.jpg",:alt=>"2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/1029/3-989.jpg",:alt=>"2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/1029/3-1003.jpg",:alt=>"2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。",:size=>"300x214")%>
    </td>

  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/1029/4-979.jpg",:alt=>"2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/1029/4-1003.jpg",:alt=>"2011年6月　淡路中学校にて、東北地方太平洋沖地震被災地へのボランティア活動の発表をしました。",:size=>"300x214")%>
    </td>

  </tr>
 
</table>
<br/>
<div style="padding:0 0 0 25px;width:650px">
  <hr color="Gray" style="border-style:dotted">
</div>
