<%#[7,6,5,4].each do |i|%>
<%#= render(:partial => "content/activity/vol/vol#{i}")%>
<%#end%>
<table style="padding:0 0 0 25px;width:700px">
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>１カ月に2回の美化活動を行いました。</b></p>
      &nbsp;淀川キリスト教病院周辺・柴島駅周辺・菅原地域遊歩道・東淡路周辺・崇禅寺駅周辺・柴島浄水場周辺におきまして、<br/>
      &nbsp;１カ月に2回の美化活動を行いました。2010年
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-035.png",:alt=>"１カ月に2回の美化活動を行いました。",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-036.png",:alt=>"１カ月に2回の美化活動を行いました。",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2010年 阪急京都線遊歩道にて美化活動を行いました。(1か月に2回の美化活動)</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-025.png",:alt=>"淡路中学校で見守り隊を行いました。１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-026.png",:alt=>"淡路中学校で見守り隊を行いました。２",:size=>"300x214")%>
    </td>
  </tr>

  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2010年 区内中学校におきまして、朝の見守り隊を行いました。</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-029.png",:alt=>"区内中学校におきまして、朝の見守り隊に参加いたしました。",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-030.png",:alt=>"区内中学校におきまして、朝の見守り隊に参加いたしました。２",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2010年 区内中学校におきまして、下校時の見守り隊を行いました。</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-031.png",:alt=>"区内中学校におきまして、下校時の見守り隊を行いました。",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-032.png",:alt=>"区内中学校におきまして、下校時の見守り隊を行いました。",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2010年 区内中学校におきまして、見守り隊を行いました。(週1回の見守り隊、朝・夕)</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-023.png",:alt=>"淡路中学校で見守り隊を行いました。１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-024.png",:alt=>"淡路中学校で見守り隊を行いました。２",:size=>"300x214")%>
    </td>
  </tr>
 <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>区内中学校におきまして、朝の見守り隊に参加いたしました。</b></p>
      &nbsp;朝礼にて校長先生からご紹介を受けました。2010年 (週1回の見守り隊)
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-019.png",:alt=>"淡路中学校におきまして、朝の見守り隊に参加いたしました。１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-020.png",:alt=>"淡路中学校におきまして、朝の見守り隊に参加いたしました。２",:size=>"300x214")%>
    </td>
  </tr>
 

  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>西淡路日の出友愛クラブ様と公園の掃除をおこないました。2010年(月例・月1回)</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-017.png",:alt=>"西淡路　日の出友愛クラブ様と公園の掃除をさせていただきました１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-018.png",:alt=>"西淡路　日の出友愛クラブ様と公園の掃除をさせていただきました２",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>西淡路日の出友愛クラブ様と一緒に公園の掃除をおこないました。(月例・月1回)</b></p>

    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-007.png",:alt=>"西淡路　日の出友愛クラブ様と一緒に公園の掃除をさせていただきました １",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-008.png",:alt=>"西淡路　日の出友愛クラブ様と一緒に公園の掃除をさせていただきました　２",:size=>"300x214")%>
    </td>
  </tr>
<tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>防犯防災の注意を呼び掛け巡回いたしました。</b></p>
      &nbsp;東中島～総禅寺～柴島～豊新～菅原～下新庄～淡路～西淡路を約2時間かけ、<br/>
      &nbsp;防犯防災の注意を呼び掛け巡回いたしました。総勢70人　2010年 (４カ月に1回の防犯・防災抑止巡回)
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-021.png",:alt=>"防犯防災の注意を呼び掛け巡回いたしました。１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-022.png",:alt=>"防犯防災の注意を呼び掛け巡回いたしました。２",:size=>"300x214")%>
    </td>
  </tr>
</table>
<% @seo_keywords = '防犯防災,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '１カ月に2回の美化活動を行いました。淀川キリスト教病院周辺・柴島駅周辺・菅原地域遊歩道・東淡路周辺・崇禅寺駅周辺・柴島浄水場周辺におきまして、１カ月に2回の美化活動を行いました。2010/02/13'%>
<% @seo_title = "2010年　活動記録 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>