<%#[3,2,1].each do |i|%>
<%#= render(:partial => "content/activity/vol/vol#{i}")%>
<%#end%>
<table style="padding:0 0 0 25px;width:700px">
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>月例、月2回(第二・第四土曜日)の美化活動の様子。淡路周辺にて。</b></p>
      &nbsp;毎月2回の美化活動を行っています。
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-002.png",:alt=>"二回(第二・第四土曜日)の淡路周辺美化活動",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-001.png",:alt=>"二回(第二・第四土曜日)の淡路周辺美化活動",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>わくわく子育てみのりちゃんフェスタ、東淀川区区役所にて</b></p>
      &nbsp;メンバーがみのりちゃんの気ぐるみを着て、子供たちと触れ合い遊びました。<br/>
      &nbsp;他、自転車の整備及び警備を行いました。
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-033.png",:alt=>"わくわく子育てみのりちゃんフェスタ、東淀川区区役所にて",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-034.png",:alt=>"わくわく子育てみのりちゃんフェスタ、東淀川区区役所にて",:size=>"300x214")%>
    </td>
  </tr>
    <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>淡路・西淡路・東中島・柴島地域の美化並びに防犯防災の注意を呼び掛け巡回いたしました。</b></p>
      &nbsp;総勢50人　(不定期)
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-011.png",:alt=>"淡路・西淡路・東中島・柴島地域を美化並びに防犯防災の注意を呼び掛け巡回いたしました。１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-012.png",:alt=>"淡路・西淡路・東中島・柴島地域を美化並びに防犯防災の注意を呼び掛け巡回いたしました。　２",:size=>"300x214")%>
    </td>
  </tr>
  
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>知的障害者授産施設　あすわーく主催のバザーに自転車の整備及び警備として参加しました。</b></p>
      &nbsp;淡路地域福祉・生活支援センター　つどいホールにて。
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-005.png",:alt=>"淡路地域福祉・生活支援センター　つどいホールにて １",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-006.png",:alt=>"淡路地域福祉・生活支援センター　つどいホールにて　２",:size=>"300x214")%>
    </td>
  </tr>

  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>連合会の要請により、区内の小学校校庭の草刈りをおこないました。総勢23人</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-037.png",:alt=>"淡路小学校の校庭の草刈りをしました。１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-010.png",:alt=>"淡路小学校の校庭の草刈りをしました。　２",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>夜警巡回パトロール(写真淡路5丁目周辺にて) </b></p>
      &nbsp;淡路5丁目周辺おきまして、強盗事件があり再発防止・防犯の巡回パトロールを行いました。<br/>
      &nbsp;又、井高野・豊新地域におきましても不定期に夜警巡回パトロールをおこないました。<br/>
      &nbsp;※犯人は、事件発生から二週間後に逮捕されました。

    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-003.png",:alt=>"夜警巡回パトロール(淡路5丁目周辺)2009/9/15～2009/9/29まで",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-004.png",:alt=>"夜警巡回パトロール(淡路5丁目周辺)2009/9/15～2009/9/29まで",:size=>"300x214")%>
    </td>
  </tr>
</table>
<% @seo_keywords = '防犯防災,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '１カ月に2回の美化活動を行いました。淀川キリスト教病院周辺・柴島駅周辺・菅原地域遊歩道・東淡路周辺・崇禅寺駅周辺・柴島浄水場周辺におきまして、１カ月に2回の美化活動を行いました。2010/02/13'%>
<% @seo_title = "2009年　活動記録 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>